@model ProductFormModel
@{
    ViewData["Title"] = "Details";
}

<h2>Product Details</h2>
<form asp-controller="Product" asp-action="Details" method="post">
    <div>
        <div>
            @Html.LabelFor(m => m.Name)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Description)
        <div>
            @Html.TextAreaFor(m => m.Description, new { @readonly = "readonly" })
        </div>
    </div>

    <div>
        @foreach (var picture in Model.Pictures)
        {
            <a target="_blank" href="@picture.Path">
                <img src="@picture.Path" height="150"/>
            </a>
            <a asp-controller="Product" asp-action="DeletePicture" asp-route-id="@picture.Id" class="btn waves-effect waves-yellow">Delete this Picture</a>
        }
    </div>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn waves-effect waves-yellow">Edit content</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn waves-effect waves-red">Delete</a>
</form>

